<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/custom.css">
		<title>知乎日报</title>
		<style>
			html, body {
				position: relative;
				height: 100%;
			}
			body {
				background: #eee;
				font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
				font-size: 14px;
				color:#000;
				margin: 0;
				padding: 0;
			}
			.swiper-container {
				width: 100%;
				height: auto;
			}
			.swiper-slide {
				text-align: center;
				font-size: 18px;
				background: #fff;

			}
			.swiper-container-v {
				background: #eee;
			}
    </style>
	</head>
	<body>
		<div class="swiper-container swiper-container-h">
			<div class="swiper-wrapper" id = "index">
				<div class="swiper-slide">
					<div class = "header">
						<div class = "container">
							<h1>知乎日报</h1>
						</div>
					</div>
					<div class = "container">
						<div class="row" id="content1">
							<div class="loading">
								<div class="spinner">
								  <div class="double-bounce1"></div>
								  <div class="double-bounce2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="nav" style = "display:none">
			<a class="prev" href="javascript:void 0"></a>
			<a class="next" href="javascript:void 0"></a>
		</div>
		
		<script type="text/template" id="swiper-template">
			<div class="swiper-slide">
				<div class = "header">
					<div class = "container">
						<h1>知乎日报</h1>
					</div>
				</div>
				<div class = "container">
					<div class="row" id="<%= row_id %>">
						<div class="loading">
							<div class="loading">
								<div class="spinner">
								  <div class="double-bounce1"></div>
								  <div class="double-bounce2"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</script>
		
		<script type="text/template" id="news-template">
			<div class="col">
				<a href="<%= share_url %>" target="blank">
					<img src="<%= thumbnail %>" />
					<div class="detail">
						<h3 class="title"><%= title %></h3>
					</div>
				</a>
			</div>
		</script>
		
		<script data-main="js/main" src="js/vendor/require-2.1.14.min.js"></script>
	</body>
</html>
